// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #8A89C0;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #06D6A0;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$lightblue: #54C6EB;
$darkblue: #738FEB;
$pinky: #A98FF3;
$darkgreen: #048A81;
$blurple: #7289DA;
$greyple: #99AAB5;
$dark: #2C2F33;
$blackish: #23272A;
$success: $pinky;